.navbar{
    display: flex;
    align-items: center;
    justify-content: space-between; 
    padding: 20px;
    text-align: center;
    /* margin: 20px 170px; */
    background: rgb(162, 85, 170);
    padding: 30px;
}

.nav-menu{
    display: flex;
    align-items: center;
    list-style: none;
    gap: 60px;
    font-size: 23px;
    /* border: solid; */
    margin-left: auto;
    margin-right: auto;
    /* width: 8em */
}


.nav-connect{
    padding: 20px 40px;
    border-radius: 50px;
    background: linear-gradient(267deg, #DA7C25 0.36%, #B923E1 102.06% );
    font-size: 22px;
    cursor: pointer;
    transition: 0.5s;
}
.nav-connect:hover{
    transform: scale(1.05);
} 

.test{
    border: solid;
}

.active{
    font-weight: 950;
    /* font-size: large; */
    /* background-color: #DA7C25; */
    /* box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.19); */
}

a {
    color: #FFF;
    text-decoration: none;
  }
  a:hover {
     color: black;
  }